* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Lucia Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
    color: gainsboro;
}

label {
    color: gainsboro;
    min-width: 150px;
    text-align: right;
}

#container {
    display: flex;
    background-color: #2e2e2e;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 97%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    justify-content: space-between;
    color: gainsboro;
    align-items: center;
    /* padding-left: 100px; */
    /* padding-right: 100px; */

}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: "Lucia Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#answer-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid gainsboro;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer {
    background-color: rgb(83,  141, 78);
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58;
    cursor: pointer;
    background-color: rgb(129, 131, 132);
    color: gainsboro;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.spacer-half {
    flex-grow: 0.5;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgb(130, 130, 130);
    border-radius: 20px;
    z-index: 1;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none;
}

#result-content {
    color: gainsboro;
}

.modal-window {
    /* position: center; */
    /* box-sizing: border-box; width height 가 paddin 영역을 포함 */
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);

    padding: 10px;
    display: block;
    background-color: rgb(130, 130, 130, );
    ;
    border-radius: 20px;
    z-index: 1;
}

.result-btn {
    background-color: goldenrod;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    width: 100;
    justify-content: space-around;
    text-align: center;
}

.userinfo {
    display: inline-block;
    text-decoration: none;
    background-color: #f0f0f0;
    color: #333;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: #5e5e5e;
    /* background-color: #007bff; */
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
}

.button:hover {
    /* background-color: #0056b3; */
    background-color: #242424;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color:  gainsboro; 
    text-decoration: none;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.side-menu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: gainsboro;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu {
    transition: margin-left .3s;
    padding: 20px;
}